@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Crimson Text"
  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

article {
  max-width: 43em;
}

article h1 {
  font-weight: normal;
}

article header {
  border-bottom: 1px solid #999;
}

article header p {
  font-style: italic;
}

article > p:last-child {
  border-bottom: 1px solid #999;
}

blockquote {
  max-width: 25em;
  color: #555;
  font-size: 1.125rem;
}

.quote {
  color: #999;
}

@media only screen and (min-width: 90em) {

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 1.15rem;
    line-height: 1.5;
  }

  article {
    min-width: 42em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  h1 {
    margin: 0;
  }

  article p {
    margin: 0 0 1.5rem;
  }

  header {
    margin: 0 0 1.5rem;
  }

  article ol {
    padding-left: 0;
  }

  article > p:last-child {
    padding-bottom: 1.5rem;
  }

  blockquote {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 1.5rem 0;
  }
}
